body {
  background-color: rgb(15, 15, 27);
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* overflow: hidden; */
  height: 100vh;
}

table,
th,
td {
  border: none;
  border-collapse: collapse;
}

table {
  margin: 0 auto;
}

.player {
  background-color: green;
}

.wall {
  background-color: black;
}

.passage {
  background-color: white;
}

td {
  width: 4px;
  height: 4px;
}
